<!--button for premium membership-->
<div class="blog-post">
    <div class="btn-premium">
        <a href="{{ url_for('value_picks_multibagger_stocks_india' , next='no_validity') }}">
          <button type="submit" class="btn btn-custom btn-lg">
              <i class="fa fa-lock"></i> Premium Pick
          </button>
        </a>
    </div>
    <div class="not-premium">
        <h1 class="blog-post-title">
        <a href="#">5X Multibagger Stocks as Value Pick &middot; Eros International Media &middot;
        </a>
        </h1>
        <p class="blog-post-meta">
        <a type="button" class="btn btn-custom btn-vg"> 5 Minute read
        </a>
        <span class="label pull-right">
            <a type="button" class="btn btn-custom"> premium picks
        </a>
        </span>
        </p>
        <p class="blog-post-meta">
        Mar 08, 2016
         by 
        <a href="/index#about" target="_blank">jasmeet singh
        </a>       
        </p>
        <a href="{{ url_for('value_picks_multibagger_stocks_india' , next='no_validity') }}">
        <img src="/static/images/posts/eros.jpg" alt="Value pick" title="5X Multibagger Stocks as Value Pick &middot; Eros International Media &middot;">
        </a>
        <h2>What's it about ?</h2>
        <p>With some accounting adjustments leading to a corporate governance issue between the parent company ie, Eros Worldwide FZ LLC & Eros Media there has been a steep crash  & thanks to Stock Brokers for directing a great amount of Sattebaaji in this stock leading to ghar bikne wali halat for many sattebaajs.
            <strong>
            <a href="#">Read More
            </a>
            </strong>
        </p>
    </div>
</div>
    

<hr>
        