<div id="disclaimer">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">DISCLAIMER</h3>
    </div>
    <div class="panel-body">
      I am currently a registered Research Analyst with SEBI (<a href="http://www.sebi.gov.in/sebiweb/other/OtherAction.do?doRecognisedFpi=yes&intmId=14" target="_blank">INH100004951</a>). My writings n research here at www.valueguyz.com are in accordance with SECURITIES AND EXCHANGE BOARD OF INDIA (RESEARCH ANALYSTS) REGULATIONS, 2014.</div>
  </div>
</div>