
<div class="join-button">
  
    <!--link on top of button so that all of button become responsive rather than just the text-->
    <a href="{{ url_for('content_fresher') }}">
      <button type="submit" class="btn btn-custom btn-lg">
        Start Online
      </button>
    </a>      
    
</div>



<!--<div class="join-button">-->
  
    <!--link on top of button so that all of button become responsive rather than just the text-->
<!--    <a href="{{ url_for('register') }}">-->
<!--      <button type="submit" class="btn btn-custom btn-lg">                      -->
<!--        Register for Free-->
<!--      </button>-->
<!--    </a>-->
    
<!--</div>-->

