{% macro locked_table(heading) %}  
<div id="locked-content">
      
    <table class="table table-striped table-bordered table-hover table-responsive table-tips">
      <tr>
        <th class="summary-heading" colspan="2">{{ heading }}</th>
      </tr>
      <tr>
        <td class="table-row-locked">
          
          <!--link on top of button so that all of button become responsive rather than just the text-->
          <a href="{{ url_for('login', next=request.url) }}">
            
            <button type="submit" class="btn btn-custom btn-lg">
                <i class="fa fa-unlock-alt"></i>  Login to Unlock
            </button>
            
          </a>
          
        </td>
      </tr>
    </table>
</div>
            
            
{% endmacro %}