 <br>

<h2>What are Value Picks ?</h2>

<p>Value picks are stocks of companies that are believed to be undervalued at NSE or BSE. It is an outcome of huge sattebaaji directed by Stock brokers in that stock making Markets overreact to good and bad news, resulting in stock price movements that do not correspond with the company's long-term business or fundamentals.
</p>

<blockquote>
<p>You can learn <a href="{{ url_for('intro_fresher') }}" target="_blank"> Value Pick Multibagger Stock course</a> & start your own research in depth.
After completing the <a href="{{ url_for('intro_fresher') }}" target="_blank"> Value Pick Multibagger Stock course</a> You have to apply methods & circle of competence on your researched Value Picks. <i class="fa fa-hand-peace-o" style="color:#34A853"></i>
</p>
</blockquote>



{% include "temp-n-macro/_learn-valuepicking.html" %}




<div id="y-taxfree">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Is Value Pick Tax Free ?</h3>
    </div>
    <div class="panel-body">
      YES, Profit arising from holding Equity shares for 1 Year or more is covered under Long Term Capital Gain (<a href="http://zerodha.com/varsity/chapter/taxation-for-investors/" target="_blank"> LTCG</a>) as per Income Tax Act 1961 ( Section 54 ) <i class="fa fa-hand-peace-o" style="color:#66C7FF"></i>
    </div>
  </div>
</div>