<!----this is for rendering a base template in flask using jinja templating-->
{% extends "temp-n-macro/_user-footer_.html" %}


{% block meta_og_tags_title %}


<title>Meetup Management - ValueGuyz</title>

{% endblock %}
    
    
{% block custom_css_files %}

<!-- Custom styles for fixed top navbar  -->
<!--<link href="css/navbar_fixed_top.css" rel="stylesheet">-->
<link href="{{ url_for('static', filename='css/navbar-fixed-top.css') }}" rel="stylesheet">

<!-- Custom footer for this template -->
<!--<link href="css/footer.css" rel="stylesheet">-->
<link href="{{ url_for('static', filename='css/user-footer.css') }}" rel="stylesheet">


<link href="{{ url_for('static', filename='css/user-management.css') }}" rel="stylesheet">


{% endblock %}
    
    
{% block content %}

<div class="jumbotron" id="admin">
    <div class="row">
        <div class="col-md-1">
	        <ul class="nav nav-pills nav-stacked left-nav">
              <li role="presentation"><a href="{{ url_for('user_management') }}">Users</a></li>
              <li role="presentation"><a href="{{ url_for('premium_management') }}">Premium</a></li>
              <li role="presentation"><a href="{{ url_for('review_manage') }}">Reviews</a></li>
              <li role="presentation"><a href="{{ url_for('admin') }}">Posts</a></li>
              <li role="presentation"><a href="{{ url_for('invite_management') }}">Invites</a></li>
              <li role="presentation" class="active"><a href="{{ url_for('meetup_management') }}">Meetups</a></li>
              <li role="presentation"><a href="{{ url_for('cron_management') }}">Crons</a></li>
        </div>
        <div class="col-md-11">
            <div class="col-sm-8 col-sm-offset-2">
                <div class=" user-manage">
                    <br>
                    <div id="users-list" class="table-responsive table-bordered">
                      <table class="table table-striped table-hover table-tips sortable">
                        <th class="heading" colspan="6">Attendees</th>     
                        <tr>
                          <th>S.No.</th>
                          <th>User</th>
                          <th>Mobile</th>
                          <th>Purpose</th>
                          <th>Registered On</th>
                          <th>Paid</th>
                          <th>Payment</th>
                        </tr>
                        
                        {% for meetup in meetups_net %}
                        <tr>
                           <td>{{ loop.index }}</td>
                           <td>{{ meetup.user.fullname }}</td>
                           <td>{{ meetup.user.mobile_ind }}</td>
                           <td>{{ meetup.purpose }}</td>
                           <td>{{ meetup.registered_utc.strftime('%d %b %Y') }}</td>
                           {% if meetup.payment_done == True %}
                           <td>Yes</td>
                           <td><i class="fa fa-inr" aria-hidden="true"></i> {{ meetup.payment }}</td>
                           {% elif meetup.payment_done == False %}
                           <td>No</td>
                           <td>-NA-</td>
                           {% else %}
                           <td>No</td>
                           <td>-NA-</td>
                           {% endif %}
                           
                        </tr>
                        {% endfor %}
                      </table>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


<!--for sorting tables right in the page itself using class "sortable"-->
<script src="{{ url_for('static', filename='js/sorttable.js') }}"></script>
            
            
{% endblock %}
    