<!----this is for rendering a base template in flask using jinja templating-->
{% extends "temp-n-macro/_user-footer_.html" %}


{% block meta_og_tags_title %}

<link rel="icon" href="{{ url_for('static', filename='images/pages/vg-favicon.png') }}">

<title>User Management - ValueGuyz</title>

{% endblock %}
    
    
{% block custom_css_files %}

<!-- Custom styles for fixed top navbar  -->
<!--<link href="css/navbar_fixed_top.css" rel="stylesheet">-->
<link href="{{ url_for('static', filename='css/navbar-fixed-top.css') }}" rel="stylesheet">

<!-- Custom footer for this template -->
<!--<link href="css/footer.css" rel="stylesheet">-->
<link href="{{ url_for('static', filename='css/user-footer.css') }}" rel="stylesheet">


<link href="{{ url_for('static', filename='css/user-management.css') }}" rel="stylesheet">


{% endblock %}
    
    
{% block content %}

<div class="jumbotron" id="admin">
    <div class="row">
        <div class="col-md-1">
	        <ul class="nav nav-pills nav-stacked left-nav">
              <li role="presentation" class="active"><a href="{{ url_for('user_management') }}">Users</a></li>
              <li role="presentation"><a href="{{ url_for('premium_management') }}">Premium</a></li>
              <li role="presentation"><a href="{{ url_for('review_manage') }}">Reviews</a></li>
              <li role="presentation"><a href="{{ url_for('admin') }}">Posts</a></li>
              <li role="presentation"><a href="{{ url_for('invite_management') }}">Invites</a></li>
              <li role="presentation"><a href="{{ url_for('meetup_management') }}">Meetups</a></li>
              <li role="presentation"><a href="{{ url_for('cron_management') }}">Crons</a></li>
            </ul>
        </div>
        <div class="col-md-11">
            <div class="user-manage">
                <h3>Users: {{ total_user }} , T. Mobile: {{ total_mobile }}  Total Premium = {{ total_premium }}, Premium Mobile= {{ total_mob_prem }}</h3>
                
            
                <div id="users-list" class="table-responsive table-bordered">
                  <table class="table table-striped table-hover table-tips sortable">
                      
                    <tr>
                      <th>S.No.</th>
                      <th>Full Name</th>
                      <th>Email</th>
                      <th>Mobile</th>
                      <th>Registered On</th>
                      <th>Premium</th>
                      <th>Premium Expiry</th>
                      <th>Last Seen</th>
                      <th>Admin</th>
                    </tr>
                    
                    {% for user in users %}
                    <tr>
                       <td>{{ loop.index }}</td>
                       <td class="fullname">{{ user.fullname }}</td>
                       
                       {% if user.email %}
                       <td>{{ user.email }}</td>
                       {% else %}
                       <td>-NA-</td>
                       {% endif %}
                       
                       {% if user.mobile_ind %}
                       <td>{{ user.mobile_ind }}</td>
                       {% else %}
                       <td>-NA-</td>
                       {% endif %}
                       
                       <td sorttable_customkey="{{ user.registered_on.strftime('%d-%m-%y') }}">{{ user.registered_on.strftime('%d %b %Y') }}</td>
                       
                       {% if user.is_premium %}
                       <td style="color:green"><b>Yes</b></td>
                       {% else %}
                       <td>No</td>
                       {% endif %}
                       
                       {% if user.premium_expiry_on %}
                       <td sorttable_customkey="{{ user.premium_expiry_on.strftime('%d-%m-%y') }}">{{ user.premium_expiry_on.strftime('%d %b %Y') }}</td>
                       {% else %}
                       <td>-NA-</td>
                       {% endif %}
                       
                       
                       {% if user.last_seen_utc %}
                       
                       <td  sorttable_customkey="{{ user.last_seen_utc }}" style="color:blue"><b>{{ (time_now - user.last_seen_utc).days }} Days {{ ((time_now - user.last_seen_utc).seconds/3600) |int }} Hr ago</b></td>
                       
                       {% endif %}
                       
                       {% if user.is_author %}
                       <td style="color:red"><b>Yes</b></td>
                       {% else %}
                       <td>No</td>
                       {% endif %}
                       
                    </tr>
                    {% endfor %}
                  </table>
                </div>
            </div>
        </div>
    </div>
</div>



<!--for sorting tables right in the page itself using class "sortable"-->
<script src="{{ url_for('static', filename='js/sorttable.js') }}"></script>
            
            
{% endblock %}
    