<!----this is for rendering a base template in flask using jinja templating-->
{% extends "temp-n-macro/_user-footer_.html" %}


{% block meta_og_tags_title %}


<!-- SEO robots Meta -->
<meta name="description" content="Possibly the fastest way to learn how to identify multibaggers, value pick in stock market for beginners, working people, traders, investors and entrepreneurs by Valueguyz">
<meta name="keywords" content="value pick, value picks, valuepicks, multibagger, multibagger stocks india, ">
<meta name="author" content="Jasmeet Singh, Founder & Investor">



<title>Value Pick : Secret Jugaad To Identify Multibaggers</title>


<!-- OG for Social Networks -->
<meta property="og:title" content="Value pick : secret jugaad to idEntify multibAggers" />
<meta property="og:description" content="Possibly the fastest way to learn how to identify multibaggers, value pick in stock market for beginners, working people, traders, investors and entrepreneurs by Valueguyz" />
<meta property="og:type" content="Website" />
<meta property="og:url" content="http://www.valueguyz.com/intro-fresher-value-pick" />
<meta property="og:image" content="http://www.valueguyz.com/images/pages/vg_home_og_share.jpg" />




 <!-- Twitter Card OG -->
<meta name=”twitter:card” content="Value pick : secret jugaad to idEntify multibAggers" />

<meta name=”twitter:title” content="Value pick : secret jugaad to idEntify multibAggers" />

<meta name=”twitter:description” content="Possibly the fastest way to learn how to identify multibaggers, value pick in stock market for beginners, working people, traders, investors and entrepreneurs by Valueguyz" />

<meta name=”twitter:url” content=”http://www.valueguyz.com/intro-fresher-value-pick” />

<meta name=”twitter:image” content=”http://www.valueguyz.com/images/pages/vg_home_og_share.jpg” />


{% endblock %}
    
    
{% block custom_css_files %}

<!-- Custom styles for fixed top navbar  -->
<!--<link href="css/navbar_fixed_top.css" rel="stylesheet">-->
<link href="{{ url_for('static', filename='css/navbar-fixed-top.css') }}" rel="stylesheet">

<!-- Custom footer for this template -->
<!--<link href="css/footer.css" rel="stylesheet">-->
<link href="{{ url_for('static', filename='css/user-footer.css') }}" rel="stylesheet">

<!--keep it below for footer fixed position styling for this tempalate-->
<link href="{{ url_for('static', filename='css/intro-fresher-course.css') }}" rel="stylesheet">

{% endblock %}
    
    
{% block content %}

<div class="container course">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 course-main">
            
            <div id="heading-video">
          
              <h1 class="course-title">
                value pick : secret <i>jugaad</i> to identify multibaggers
              </h1>
              <h2>( Fresher Course )</h2>
              
              {% include "temp-n-macro/_join-course-button.html" %}
              

              <!-- 16:9 aspect ratio for Youtube Video-->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="750" height="422" src="https://www.youtube.com/embed/1rEQvbzWL_k?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen>
                </iframe>
              </div>
              
            </div>
            
            
            <div id="what">
              <div class="panel panel-primary">
                  
                <div class="panel-heading">
                  <h3 class="panel-title">What are the requirements?</h3>
                </div>
                
                <div class="panel-body">
                    
                    <p>
                        <ul>
                            <li>No prior investing knowledge needed.</li>
                            <li>Common Sense is a must.</li>
                        </ul>
                    </p>
                    
                </div>
                
              </div>
            </div>
                
                
            <div id="what">
              <div class="panel panel-info">
                  
                <div class="panel-heading">
                  <h3 class="panel-title">What am I going to get from this course?</h3>
                </div>
                
                <div class="panel-body">
                    
                    <p>
                        <ul>
                            <li>Stop copying others for Investing decisions.</li>
                            <li>Start investing as low as Rs 100 / month.</li>
                            <li>Check the exact Quality of Investment.</li>
                            <li>Calculate exact Returns you will be getting if you invest.</li>
                            <li>Get yourself Insulated from Market fluctuations.</li>
                            <li>Minimize risk to almost zero.</li>
                            <li>Get 100 % Tax Exempt on Investments (India).</li>
                        </ul>
                    </p>
                    
                </div>
                
              </div>
            </div>
                
                
                
            <div id="what">
              <div class="panel panel-success">
                  
                <div class="panel-heading">
                  <h3 class="panel-title">What is the target audience?</h3>
                </div>
                
                <div class="panel-body">
                    
                    <p>
                        <ul>
                            <li>One who wants to be Proud of being a Self Made Investor.</li>
                            <li>One who has heard about Value Investing but don't know how to start.</li>
                            <li>People who want to manage their own money & earn Stellar Returns.</li>
                            <li>This course is <b style="color:red">NOT</b> for people looking to become Crorepati in a day.</li>
                        </ul>
                    </p>
                    
                </div>
                
              </div>
            </div>
            
         

            <div id="description">
                <h3>
                    Learn to identify multibagger stocks by secret jugaad in NSE & BSE
                </h3>
  
                <h2>Course Description</h2>

                  <p>QUITE POSSIBLY THE FASTEST WAY TO LEARN HOW TO IDENTIFY MULTIBAGGERS IN STOCK MARKET FOR STOCK MARKET BEGINNERS, WORKING PEOPLE, TRADERS, INVESTORS AND ENTREPRENEURS.
                  </p>
                  <p>So you want to learn how to spot a multibagger stock but you're not quite sure how
                  </p>
                  <p>
                      Well, you could do like me and spend years & months learning every knook and cranny stock market before getting to your first multibagger. This could lead to HUGE LOSSES, frustration, feelings of being overwhelmed and highly increases the chances that you'll give up without even making profit & cursing the day you entered Stock Markets
                  </p>
                  <blockquote>
                      <p>
                          OR….. YOU COULD START LEARNING BY DOING AND HAVE YOUR FIRST MULTIBAGGER STOCK TODAY.
                      </p>
                  </blockquote>
          
                  <p>
                      If you want to learn something fast you need to jump in and start getting your hands dirty from the beginning. Have you ever noticed that you don't really learn something until you actually try to do it, and experience it firsthand? Well that's exactly what we'll do in this course. You'll learn the secret by spotting whole lot of multibagger in this course which will give you confidence in investing in stock market.
                  </p>
                  
                  <blockquote>
                      <p>
                          The simple truth is that instructors out there try to teach you too much too early, don't teach things in the right order, or sometimes it even seems like they purposefully make the material too hard & because they might don't understand Stock market investing at all & are just a speculator.
                      </p>
                  </blockquote>
            </div>
                
                
                
            <div id="course-great">
                <p>
                  <b>This Course Is Great For :</b>
                </p>
                
                <p>Working Professionals who want to make a consistent passive income.
                </p>



                <h3>
                    stock market beginners
                </h3>
                
                <p>
                    <ul>
                        <li>
                            Want to start investing in stock market? Scared of losses ? Don't know where or how to start it.
                        </li>
                        <li>
                            Than this is the course for you. You’ll learn secret of Stock Markets fast and have your have your first profitable stock in just 1 hour.
                        </li>
                    </ul>
                    
                </p>

   
   
   
                
                <h3>
                    traders
                </h3>
                
                <p>
                    <ul>
                        <li>
                            Fed up with huge losses in Stock markets ? Tried & testing every trading technique but failed & don't know how to recover losses ?
                        </li>
                        <li>
                            You always think that markets are operator driven & you will never make profit ?
                        </li>
                        <li>
                            Than this is the course for you. You’ll learn secret of Identifying Multibagger stock on NSE & BSE fast and have your have your first Multibagger stock in just 1 hour.
                        </li>
                    </ul>
                    
                </p>
    
     
                
                
                <h3>
                    investors
                </h3>
                
                <p>
                    <ul>
                        <li>
                            Fed up with losses or average returns in Stock markets ? Tried & testing every investing method & tips but failed & don't know how to invest in professional manner ?
                        </li>
                        <li>
                            Think that markets are operator driven & everything is manipulated in Stock Markets & you will never make profit ?
                        </li>
                        <li>
                            Than this is the course for you. You’ll learn secret of Identifying Multibagger stock on NSE & BSE fast and have your have your first Multibagger stock in just 1 hour.
                        </li>
                    </ul>
                </p>
            </div>
                
                
                
                
            <div id="what-learn">
              <table class="table table-striped table-bordered table-hover table-responsive table-tips">
                  
                <tr>
                  <th class="summary-heading" colspan="2">what you will learn</th>
                </tr>
                
                
                <tr>
                  <td>
                      <li>How to create Wealth</li>
                  </td>
                </tr>
                <tr>
                  <td>
                      <li>How to make Tax FREE Nivesh</li>
                  </td>
                </tr>
                <tr>
                  <td>
                      <li>What is a Share or Stock</li>
                  </td>
                </tr>
                <tr>
                  <td>
                      <li>What is a Business</li>
                  </td>
                </tr>
                <tr>
                  <td>
                      <li>Quality factors of Business</li>
                  </td>
                </tr>
                <tr>
                  <td>
                      <li>Calculate Buying price for a Share</li>
                  </td>
                </tr>
                <tr>
                  <td>
                      <li>Earn 3-10 Times of your Bank Deposit Returns</li>
                  </td>
                </tr>
                <tr>
                  <td>
                      <li>What is an IPO</li>
                  </td>
                </tr>
                <tr>
                  <td>
                      <li>Should you invest in an IPO</li>
                  </td>
                </tr>
                <tr>
                  <td>
                      <li>What is exactly Stock Market</li>
                  </td>
                </tr>
                <tr>
                  <td>
                      <li>Use Stock Market to your Advantage</li>
                  </td>
                </tr>
                <tr>
                  <td>
                      <li>How to handle Stock Market fluctuations/Volatility</li>
                  </td>
                </tr>
                <tr>
                  <td>
                      <li>Spot a Mispricing in Stock Market</li>
                  </td>
                </tr>
                <tr>
                  <td>
                      <li>Eliminate all risk with this Secret Safety Feature</li>
                  </td>
                </tr>
                <tr>
                  <td>
                      <li>Compare Quality of Businesses/Stocks</li>
                  </td>
                </tr>
                <tr>
                  <td>
                      <li>Formula for perfect Multibagger Stock</li>
                  </td>
                </tr>
                
              </table>
            </div>
                
                
                
                
            <div id="course-done">
              <h2>When you're done with this course...</h2>
              
              <p>
                  Multibagger Stock Investing will no longer be a foreign thing to you. Instead you will already have got your first couple of Multi-bagger Stocks and have the skills to get many others. You'll be a part of the 1% of people that actually know how to spot Multi-bagger Stocks online and have a life-changing new skill set.
              </p>
            </div>
                
            
            
            {% include "temp-n-macro/_join-course-button.html" %}
            
            
            <br>
            <br>
            <br>
        
           
        </div>
    </div>
</div>

{% endblock %}