<!----this is for rendering a base template in flask using jinja templating-->
{% extends "temp-n-macro/_user-footer_.html" %}

    {% block meta_og_tags_title %}
    
    <!-- SEO robots Meta -->
    <meta name="description" content="Hinduja Global Solutions @ Rs 398  has a quite stable business model with proven records & strong distribution network.">
    <meta name="keywords" content="value picks, value pick, valuepicks, multibagger, multibagger stocks india, multibagger indian stocks">
    <meta name="author" content="Jasmeet Singh, Founder & Investor">


    <title>Premium Pick Unlocked : 3X Multibagger Stocks as Value Pick &middot; Hinduja Global Solutions &middot; Jul16</title>
    


    <!-- OG for Social Networks -->
    <meta property="og:title" content="Premium Pick Unlocked : 3X Multibagger Stocks as Value Pick &middot; Hinduja Global Solutions &middot; Jul16" />
    <meta property="og:description" content="Hinduja Global Solutions @ Rs 398  has a quite stable business model with proven records & strong distribution network." />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content="http://www.valueguyz.com/posts/2017/multibagger-value-picks-jul16-hinduja-global-solutions-premium-pick-unlocked" />
    <meta property="og:image" content="http://www.valueguyz.com/static/images/posts/hgs.jpg" />




    <!-- Twitter Card OG -->
    <meta name=”twitter:card” content=”Premium Pick Unlocked : 3X Multibagger Stocks as Value Pick &middot; Hinduja Global Solutions &middot; Jul16” />

    <meta name=”twitter:title” content=”Premium Pick Unlocked : 3X Multibagger Stocks as Value Pick &middot; Hinduja Global Solutions &middot; Jul16” />

    <meta name=”twitter:description” content=”Hinduja Global Solutions @ Rs 398  has a quite stable business model with proven records & strong distribution network.” />
    
    <meta name=”twitter:url” content=”http://www.valueguyz.com/posts/2017/multibagger-value-picks-jul16-hinduja-global-solutions-premium-pick-unlocked” />

    <meta name=”twitter:image” content=”http://www.valueguyz.com/static/images/posts/hgs.jpg” />
    
    {% endblock %}
    
    
    {% block custom_css_files %}
    
    <!-- Custom styles for fixed top navbar  -->
    <!--<link href="css/navbar_fixed_top.css" rel="stylesheet">-->
    <link href="{{ url_for('static', filename='css/navbar-fixed-top.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link href="css/custom-index.css" rel="stylesheet">-->
    <link href="{{ url_for('static', filename='css/custom-blog-post.css') }}" rel="stylesheet">
    
    <!-- Custom footer for this template -->
    <!--<link href="css/footer.css" rel="stylesheet">-->
    <link href="{{ url_for('static', filename='css/user-footer.css') }}" rel="stylesheet">
    
    {% endblock %}
    
    
    
    
    {% block content %}
    
    <div class="container multi">

      <div class="row">
        
        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            
            <h1 class="blog-post-title">
              <a href="#">Premium Pick Unlocked : 4X Multibagger Stocks as Value Pick &middot; Apollo Tyres &middot; Jun16
              </a>
            </h1>
            
            <p class="blog-post-meta">
              <a type="button" class="btn btn-info"> 5 minute read
              </a>
              July 15, 2016 by 
              <a href="{{ url_for('valueguyz_home') }}#about" target="_blank">Jasmeet
              </a>
            </p>



            <!-- 16:9 aspect ratio for Youtube Video-->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" width="750" height="422" src="https://www.youtube.com/embed/yz43468sEL8SU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen>
              </iframe>
            </div>

            <!--macro for social buttons with filling values from this post-->
            
            {% from "temp-n-macro/_social-buttons.html" import render_social %}
            
            {{ render_social('http://www.valueguyz.com/posts/2016/multibagger-value-picks-mar16-eros-international-media', '5X Multibagger Stocks as Value Pick &middot; Eros International Media &middot; Mar16') }}





            
            <div id="intro">
                <div class="alert alert-warning" role="alert">
                  Note : <strong>Hinduja Global Solutions</strong> was a Premium pick given on 25<sup>th</sup> Jul16 at <strong><i class="fa fa-inr" aria-hidden="true"></i> 398 </strong>. It was unlocked & converted into Value Pick on 11<sup>th</sup> May17. It has already gained about <strong>40%</strong> on current date & now given for Case Study n Research, I strictly condemn anyone taking it as as a tip to buy or sell.  
                </div>
                
                <p> What's up my fellow valueguyz, I hopelessly failed at delivering 1st webinar :(. But I am fixing the problems & will try to deliver 1 webinar/month going forward. You will learn the most important aspect of Intelligent investing ie, <b>psychology of intelligent investing</b>.  <i>Insaan paison se ameer gareeb nai hota.. but apne character se hota hai.</i> Valueguyz.com is all about buiilding your 'that' character <i class="fa fa-smile-o" style="color:#34A853"></i>.
                </p>
               
                <blockquote>
                  <p>
                  'India Against Sattebaaji' is truly a life changer for valueguyz. Why to give money to stock broker on silver platter & top of that shell out short-term capital gain (<a href="http://zerodha.com/varsity/chapter/taxation-for-traders/" target="_blank">STCG</a>) taxes to Govt. of India when we have superb technique & character to avoid them easily <i class="fa fa-hand-rock-o" style="color:red"></i>.
                </p>
                </blockquote>
    
            </div>
            
            <div class="alert alert-warning" role="alert">
                  Note : <strong>Apollo Tyres</strong> was a Premium pick given on 20<sup>th</sup> Jun16 at <strong><i class="fa fa-inr" aria-hidden="true"></i> 150 </strong>. It was unlocked & converted into Value Pick on 12<sup>th</sup> Apr17. It has already gained about <strong>50%</strong> on current date & now given for Case Study n Research, I strictly condemn anyone taking it as as a tip to buy or sell.  
            </div>
            
            <div class="title-h2">
              <h2>Apollo Tyres Ltd.</h2>
            </div>        
            
            
            
            
            {% if session.get('mobile_ind')  %}

            <div id="summary-table">
              <table class="table table-striped table-bordered table-hover table-responsive table-tips">
                <tr>
                  <th class="summary-heading" colspan="2">Value Pick : Summary</th>
                </tr>
                <tr>
                  <td>Script ID</td>
                  <td>APOLLOTYRE</td>    
                </tr>
                <td>Current Price</td>
                <td>
                  <a href="https://nseindia.com/live_market/dynaContent/live_watch/get_quote/GetQuote.jsp?symbol=APOLLOTYRE" target="_blank"> Check It
                  </a> 
                  <i class="fa fa-paper-plane-o" style="color:#34A853">
                  </i>
                </td>  
                <tr>
                  <td>Listed On</td>
                  <td>BSE & NSE</td>    
                </tr>
                <tr>
                  <td>Price</td>
                  <td>Rs 150</td> 
                </tr>
                <tr>
                  <td>Date</td>
                  <td>20<sup>th</sup> Jun16</td> 
                </tr>
                <tr>
                  <td>Verdict</td>
                  <td>On the Value</td> 
                </tr>
              </table>
            </div>
            
            {% else %}
            
            {% include "temp-n-macro/_locked-summary-pick.html" %}
            
            {% endif %}
            
            
            {% include "temp-n-macro/_learn-valuepicking.html" %}
          
          

            <h2>About Business :</h2>
            
            
            <p>Transportation is a key pillar for any economy to grow n sustain & when we talk about India with vast Highways & Train track network we should not forget the geography of India. We have such a long & beautiful coast-line not to mention a location on Globe which connects Eastern globe to western counter-part.
            </p>
            <p>This geography has created another line of Monopolistic line of business with longevity which is <b>Coastal Shipping Transportation</b>.
            </p>
            <blockquote>
              <h4>Today I bring to you Shreyas Shipping & Logistics which handles almost 60% of India's Container Cargo <i class="fa fa-trophy" style="color:blue"></i> & has a scalable business model.
              </h4>
            </blockquote>
            
            <p>Shreyas promoter understands business very well & I find them focussed towards creating wealth for shareholders.</p>
            
            <p>These guys are constantly upping their game as they recently bought 3 more Vessels (Ships) at <i>Kude ke bhaav</i> using <i>ships ki market ki mandi</i> & increased their capacity.
            </p>
            
            <p><i>Kaise</i> let's check out...
            </p>

            
            <br>
            
            <div class="alert alert-warning" role="alert">
                  Note : <strong>Oil India Ltd.</strong> was a Premium pick given on 30<sup>th</sup> Apr16 at <strong><i class="fa fa-inr" aria-hidden="true"></i> 319 </strong>. It was converted into Value Pick on 11<sup>th</sup> Jan17. It has already gained about <strong>50%</strong> & now given for Case Study n Research, I strictly condemn anyone taking it as as a tip to buy or sell.  
            </div>



            
            <h2>SWOT Analysis :</h2>

            <h3>Strengths</h3>
            <p>
              <ul>
                <li>9 Vessels with average age of 20 years.
                </li>
                <li>Shreyas handles almost 60% of India's Container Cargo <i class="fa fa-trophy" style="color:blue"></i>.
                </li>
                <li>Dominance in Western Coastline (WCC and PIX-1).
                </li>
                <li>Remuneration policy of Shreyas Shipping & Logistics are investor friendly & promoter seems to be working in favour of Shareholders.
                </li>
                <li>Shreyas has replaced two vessels with higher capacity n added three new vessels when prices of newer vessels are at historic low levels. This shows the intention to scale & smartness of promoter & promoter group.
                </li>
              </ul>
            </p>

            <h3>weaknesses</h3>
            <p>
              <ul>
                <li>Efforts needed to gain business on east coastline.
                </li>
                <li>Dry docking period of 15-30 days needed to put each vessel on rest & manage risk which gives somewhat inconsistency in business.
                </li>
              </ul>
            </p>

            <h3>opportunities</h3>
            <p>
              <ul>
                <li>Coastal shipping presently accounts for only 7% of overall cargo movement in India.
                </li>
                <li>Coastal shipping is cheaper & scalable way of cargo movement which needs to be promoted & is being promoted by govt. of India as we speak.
                </li>
              </ul>
            </p>

            <h3>threats</h3>
            <p>
              <ul>
                <li>Sharp fluctuations inr-dollar rate is always a risk.
                </li>
                <li>A major threat being availability of adequate bunkering facilities.
                </li>
                <li>Inadequate bunkering infrastructure at most minor/intermediate ports acts as an hindrance to coastal shipping.
                </li>
              </ul>
            </p>
            
            <br>

            <h2>Business Verdict :</h2>
            
            <p>The promoter is now aggressive with expansions but Howe Robinson Container Index is flat to downward & hence cargo shipment charges are at very low level. I expect this condition to recover as Howe Robinson Container Index being cyclical in nature & we are at almost bottom of cycle.
            </p>
            <blockquote>
              <p><b>Shreyas Shipping & Logistics</b> is a Multibagger stock in India available undervalued. ValueGuyz this stock is a definite premium value pick to consider for your research.
              </p>
            </blockquote>


            <br>



            <div id="website">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">Official Website</h3>
                </div>
                <div class="panel-body">
                  <a href="http://www.transworld.com/shreyas/index.html" target="_blank">www.transworld.com</a>
                </div>
              </div>
            </div>

            
            {% if session.get('mobile_ind')  %}

            <div id="quality">
              <table class="table table-striped table-bordered table-hover table-responsive table-tips">
                <tr>
                  <th class="summary-heading" colspan="2">Quality Analysis</th>
                </tr>
                <tr>
                  <td>Investments</td>
                  <td><i class="fa fa-inr" aria-hidden="true"></i> 65 Cr</td>    
                </tr>
                <tr>
                  <td>Business Health</td>
                  <td>7/10</td>    
                </tr>
                <tr>
                  <td>Debt/Equity</td>
                  <td>0.7</td> 
                </tr>
                <tr>
                  <td>Quality of earnings</td>
                  <td>Stable</td> 
                </tr>
              </table>
            </div>
            
            
            <div class="alert alert-warning" role="alert">
                  Note : <strong>Oil India Ltd.</strong> was a Premium pick given on 30<sup>th</sup> Apr16 at <strong><i class="fa fa-inr" aria-hidden="true"></i> 319 </strong>. It was converted into Value Pick on 11<sup>th</sup> Jan17. It has already gained about <strong>50%</strong> & now given for Case Study n Research, I strictly condemn anyone taking it as as a tip to buy or sell.  
            </div>
              

            <div id="value">
              <table class="table table-striped table-bordered table-hover table-responsive table-tips">
                <tr>
                  <th class="summary-heading" colspan="2">Value Matrix</th>
                </tr>
                <tr>
                  <td>RoCE</td>
                  <td>15%</td>    
                </tr>
                <tr>
                  <td>Earning Yield (EY)</td>
                  <td>10%</td>    
                </tr>
                <tr>
                  <td>PAT(Avg.)</td>
                  <td><i class="fa fa-inr" aria-hidden="true"></i> 55.6 Crores</td> 
                </tr>
                <tr>
                  <td>Value</td>
                  <td><i class="fa fa-inr" aria-hidden="true"></i> 253 / Share</td> 
                </tr>
                <tr>
                  <td>CMP</td>
                  <td><i class="fa fa-inr" aria-hidden="true"></i> 196 / Share</td> 
                </tr>
                <tr>
                  <td>Market Cap.</td>
                  <td><i class="fa fa-inr" aria-hidden="true"></i> 431 Crores</td> 
                </tr>
                <tr>
                  <td>MoS</td>
                  <td>21%</td> 
                </tr>
                <tr>
                  <td>Verdict</td>
                  <td>Under-valued</td> 
                </tr>
              </table>
            </div>

            {% else %}
            
            {% include "temp-n-macro/_locked-valuepick-tables.html" %}

            
            {% endif %}


            <div id="annual-report">
              <table class="table table-striped table-bordered table-hover table-responsive table-tips">
                <tr class="info">
                  <th class="summary-heading" colspan="2">Annual Reports</th>
                </tr>
                <tr>
                  <td><a href="http://www.bseindia.com/bseplus/AnnualReport/520151/5201510316.pdf" target="_blank">Financial Year 2016</a></td>  
                </tr>
                <tr>
                  <td><a href="http://www.bseindia.com/bseplus/AnnualReport/520151/5201510315.pdf" target="_blank">Financial Year 2015</a></td>  
                </tr>
                <tr>
                  <td><a href="http://www.bseindia.com/bseplus/AnnualReport/520151/5201510314.pdf" target="_blank">Financial Year 2014</a></td>  
                </tr>
              </table>
            </div>


           <div class="alert alert-warning" role="alert">
                  Note : <strong>Oil India Ltd.</strong> was a Premium pick given on 30<sup>th</sup> Apr16 at <strong><i class="fa fa-inr" aria-hidden="true"></i> 319 </strong>. It was converted into Value Pick on 11<sup>th</sup> Jan17. It has already gained about <strong>50%</strong> & now given for Case Study n Research, I strictly condemn anyone taking it as as a tip to buy or sell.  
            </div>
            
            
            <!--what r value picks n tax free-->
            {% include "temp-n-macro/_what-r-valuepicks.html" %}
            
            
            <!--for signing : do remember to insert a date & styling if needed-->
            {% from "temp-n-macro/_signature.html" import render_signature %}
            {{ render_signature('8 Mar 2016') }}

            
            <!--for legends below value picks-->
            {% include "temp-n-macro/_legends.html" %}

            <!--for disclaimer below post-->
            {% include "temp-n-macro/_disclaimer.html" %}

            

            <!--macro for social buttons with filling values from this post-->
            {% from "temp-n-macro/_social-buttons.html" import render_social %}
            
            {{ render_social('http://www.valueguyz.com/posts/2016/multibagger-value-picks-mar16-eros-international-media', '5X Multibagger Stocks as Value Pick &middot; Eros International Media &middot; Mar16') }}

           
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->
    
    
    
    
    {% endblock %}