<!----this is for rendering a base template in flask using jinja templating-->
{% extends "temp-n-macro/_user-footer_.html" %}

{% block meta_og_tags_title %}

<!-- SEO robots Meta -->
<meta name="description" content="Member reviews - Awesome things people are saying about valueguyz.">
<meta name="keywords" content="value pick, value picks, valuepicks, multibagger, multibagger stocks india, ">
<meta name="author" content="Jasmeet Singh, Founder & Investor">

<title>Member reviews - ValueGuyz</title>

<!-- OG for Social Networks -->
<meta property="og:title" content="Member reviews - ValueGuyz" />
<meta property="og:description" content="Member reviews - Awesome things people are saying about valueguyz." />
<meta property="og:type" content="Website" />
<meta property="og:url" content="http://www.valueguyz.com/member/reviews" />
<meta property="og:image" content="http://www.valueguyz.com/static/images/pages/vg-home-og-share.jpg" />



<!-- Twitter Card OG -->
<meta name=”twitter:card” content=”Member reviews - ValueGuyz” />

<meta name=”twitter:title” content=”Member reviews - ValueGuyz” />

<meta name=”twitter:description” content=”Member reviews - Awesome things people are saying about valueguyz.” />

<meta name=”twitter:url” content=”http://www.valueguyz.com/member/reviews” />

<meta name=”twitter:image” content=”http://www.valueguyz.com/images/static/pages/vg-home-og-share.jpg” />


{% endblock %}


{% block custom_css_files %}

<!-- Custom styles for fixed top navbar  -->
<!--<link href="css/navbar_fixed_top.css" rel="stylesheet">-->
<link href="{{ url_for('static', filename='css/navbar-fixed-top.css') }}" rel="stylesheet">


<!-- Custom footer for this template -->
<!--<link href="css/footer.css" rel="stylesheet">-->
<link href="{{ url_for('static', filename='css/user-footer.css') }}" rel="stylesheet">


<!-- Custom styles for this template styling-->
<!--<link href="../css/tfn-performance.css" rel="stylesheet">-->
<link href="{{ url_for('static', filename='css/premium-sell.css') }}" rel="stylesheet">


{% endblock %}

{% block content %}

<!--reviews section in macro with sending reviews to it-->
{% from "temp-n-macro/_reviews.html" import render_reviews %}
{{ render_reviews(page='all-reviews', reviews=reviews) }}


{% endblock %}