<!----this is for rendering a base template in flask using jinja templating-->
{% extends "temp-n-macro/_user-footer_.html" %}

{% block meta_og_tags_title %}
<title>Forgot Password - ValueGuyz</title>
{% endblock %}

{% block custom_css_files %}

<!-- Custom styles for fixed top navbar  -->
<!--<link href="css/navbar_fixed_top.css" rel="stylesheet">-->
<link href="{{ url_for('static', filename='css/navbar-fixed-top.css') }}" rel="stylesheet">

<!-- Custom user-login.css for this template -->
<link href="{{ url_for('static', filename='css/user-login.css') }}" rel="stylesheet">

<!-- Custom footer for this template -->
<!--<link href="css/footer.css" rel="stylesheet">-->
<link href="{{ url_for('static', filename='css/user-footer.css') }}" rel="stylesheet">

{% endblock %}



{% block content %}

<section id="login">
<div class="container">
	<div class="row">
	    <div class="col-md-6 col-md-offset-3">
    	    <div class="form-wrap">
	        {% if action == "enter_mobile" %}
            <h1>confirm your email / mobile</h1>
            {% elif action == "enter_otp" %}
            <h1>Verify Mobile</h1>
            {% elif action == "change_forgetpass" %}
            <h1>Change your password</h1>
            {% endif %}
            
                <!--if there is error in any field it will be displayed here-->
                {% if error %}
                    <div class="error text-danger">{{ error }}</div>
                {% endif %}
                
                {% if action == "enter_mobile" %}
                <form method="POST" action="{{ url_for('forgot_pass') }}" role="forget_form">
                    {% from "temp-n-macro/_formhelpers.html" import render_field %}
                    <!----CSRF Tag for hack prevention-->
                    {{ forget_form.hidden_tag() }}
                     <!--Tags coming from form.py file(model) in user-->
                    {{ render_field(forget_form.email, class="form-control", placeholder="Your Registered Email/Mobile") }}
    				<input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Continue">
        		</form>
        		
        		{% elif action == "enter_otp" %}
        		<form method="POST" action="{{ url_for('forgot_pass_otp') }}" role="form">
                    {% from "temp-n-macro/_formhelpers.html" import render_field %}
                    <!----CSRF Tag for hack prevention-->
                    {{ form.hidden_tag() }}
                    <fieldset disabled>
                    {{ render_field(form.mobile_ind, class="form-control", value= session.get('mobile_ind_forget')) }}
                    </fieldset>
                    {{ render_field(form.otp_verify, class="form-control", placeholder="Enter 6 digit OTP ", maxlength="6") }}
    				<input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Verify">
        		</form>
        		
        		{% elif action == "change_forgetpass" %}
        		<form method="POST" action="{{ url_for('change_forgetpass') }}" role="form">
                    {% from "temp-n-macro/_formhelpers.html" import render_field %}
                    <!----CSRF Tag for hack prevention-->
                    {{ form.hidden_tag() }}
                    {{ render_field(form.new_password, class="form-control", placeholder="Use Alpha-numeric password") }}
                    {{ render_field(form.confirm_password, class="form-control", placeholder="It should Match") }}
    				<input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Submit">
        		</form>
        		{% endif %}
                
               <hr>
    	    </div>
		</div> <!--col-md-6 col-md-offset-3 -->
	</div> <!-- /.row -->
</div> <!-- /.container -->
</section>

{% endblock %}


<!---------------------------------------------------------->
<!---------------------------------------------------------->
<!--just in case i decide to put forgot password in a modal in login page this is something needed to be used-->
<!--I am not using it right now because Form is confilicting -->

<a href="#forget-pass" class="forget" data-toggle="modal" data-target=".forget-modal">Forgot your password?</a>



<div class="modal fade forget-modal" id="forget-pass" tabindex="-1" role="dialog" aria-labelledby="myForgetModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
		    
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
					<span class="sr-only">Close</span>
				</button>
				
				<h4 class="modal-title">Recovery password</h4>
			</div>
			
			<div class="modal-body">
			    
                <form method="POST" action="{{ url_for('login') }}" role="forget_form">
                    
                    {% from "temp-n-macro/_formhelpers.html" import render_field %}
                    
                    <!----CSRF Tag for hack prevention-->
                    {{ forget_form.hidden_tag() }}
                    
                     <!--Tags coming from form.py file(model) in user-->
                    {{ render_field(forget_form.email, class="form-control", placeholder="Your Registered Email") }}
  	
        			<div class="modal-footer">
        				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        				<input type="submit" id="btn-forget" class="btn btn-custom" value="Submit">
        			</div>
        			
        		</form>
        		
            </div>
		</div> <!-- /.modal-content -->
	</div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
        