<html>
    
    <body>
        
    <!--This take a single variable called reset_pass_url, which will be created in the forgot_pass() user.view function.-->
    <p>Please follow this link to reset your password</p>
    
    <p><a href="{{ reset_pass_url }}" target="_blank">{{ reset_pass_url }}</a></p>
    <br>
    <br>
    <p>-------</p>
    <p style="color:#999">Jasmeet Singh</p>
    <p style="color:#999">Founder & Investor</p>
    <p style="color:#999">SEBI Regd. (INH100004951)</p>
    
    <br>
    <br>
    <br>
    <p>This is a system generated mail, please don't reply back.</p>



    </body>
  
</html>