<html>
    
    <body>
        
    <p>Hi! <b style="text-transform:capitalize">{{ (user.fullname) | safe }}</b> , Your payment has been succesfully accepted.</p>
    
    <p>Congrats Dost! for taking up a premium plan. Activation may take upto 6 Hour.
    </p>
    
    <p>Check your profile & validity after activation <a href="http://www.valueguyz.com//mydashboard/profile" target="_blank"> here</a>.</p>
    
    
    <br>
    
    
    <p><i>Insaan paison se ameer gareeb nai hota.. but apne character se hota hai.</i> Valueguyz.com is all about buiilding your 'that' character.</p>
        
    <br>
    
    <p>Login after some time to access premium content. Contact me by clicking <b>Ask a query</b> from your dashboard in case of any problem.</p>
          
    <p>Always happy to help :)</p>
    
    
    <br>
    
    <p>-------</p>
    <p style="color:#999">Jasmeet Singh</p>
    <p style="color:#999">Founder & Investor</p>
    <p style="color:#999">SEBI Regd. (INH100004951)</p>
    
    <br>
    <p>This is a system generated welcome mail from Jasmeet Singh, please don't reply back.</p>

    </body>
  
</html>